In [40]:
import numpy as np
import pandas as pd
from dateutil.parser import parse
import matplotlib.pyplot as plt

In [41]:
path = '../Covid/archive/worldometer_coronavirus_daily_data.csv'

In [42]:
df = pd.read_csv(path)

In [43]:
df.head()

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
0,2020-2-15,Afghanistan,0.0,NaN,0.0,0.0,NaN
1,2020-2-16,Afghanistan,0.0,NaN,0.0,0.0,NaN
2,2020-2-17,Afghanistan,0.0,NaN,0.0,0.0,NaN
3,2020-2-18,Afghanistan,0.0,NaN,0.0,0.0,NaN
4,2020-2-19,Afghanistan,0.0,NaN,0.0,0.0,NaN

In [44]:
df = df[df.country=='USA']
df = df.dropna()
df = df.reset_index()
df = df.drop(['cumulative_total_cases', 'cumulative_total_deaths', 'country', 'index'], axis=1)

In [45]:
df.head(10)

        date  daily_new_cases  active_cases  daily_new_deaths
0  2020-2-20              0.0          10.0               0.0
1  2020-2-21             20.0          29.0               0.0
2  2020-2-22              0.0          29.0               0.0
3  2020-2-23              0.0          28.0               0.0
4  2020-2-24             18.0          48.0               0.0
5  2020-2-25              4.0          51.0               0.0
6  2020-2-26              3.0          54.0               0.0
7  2020-2-27              0.0          54.0               0.0
8  2020-2-28              3.0          57.0               0.0
9  2020-2-29              5.0          60.0               1.0

In [46]:
df.to_csv(path_or_buf='../Datasets/US_Covid_Cases.csv', index=False)